.app {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 400px;
    text-align: center;
    margin: auto;
  }
  
  header {
    
    justify-content: space-between;
    align-items: center;
  }
  
  .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }
  
  .product {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
  }
  
  .product img {
    max-width: 100%;
    height: auto;
  }
  
  .price, .rating {
    display: block;
    margin-top: 5px;
  }